/data
/modules/dashboard/assets
/modules/dashboard/data
.DS_Store
*.pdf
token.txt
earthdata_auth.py
presentations/.Rhistory
*.code-workspace
*.pyc
*.out
*.csv
*.json
*slurm.sh
*.zip
*.tar
organization/Screenshot 2022-10-31 at 15.24.27.png
presentations/2022-11-07-presentation.log

/model/wandb
/pfs/data5/home/tu/tu_tu/tu_zxoau27/ds_project/model/wandb