/data
.DS_Store
*.pdf
token.txt
earthdata_auth.py
presentations/.Rhistory
*.code-workspace
*.pyc
*.out
*.csv
*slurm.sh
*.zip
*.tar
organization/Screenshot 2022-10-31 at 15.24.27.png
presentations/2022-11-07-presentation.log
/modules/dashboard/assets
/modules/dashboard/test/apps/assets

/model/wandb
/pfs/data5/home/tu/tu_tu/tu_zxoau27/ds_project/model/wandb